# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Compiladores\comp2021-7c\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
